// Footer One
.footer-one {
    background: $color-three;
    padding-top: 95px;
    .bottom-footer {
        border-top: 1px dashed rgba($color: #fff, $alpha: 0.25);
        margin-top: 32px;
        padding: 40px 0 25px;
    }
    .social-icon a {
        color: #fff;
        font-size: 18px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        border-radius: 50%;
        background: rgba($color: #fff, $alpha: 0.4);
        @include transition(0.2s);
        &:hover {
            background: $color-one;
            color: $color-two;
        }
    }
    .footer-title {
        font-size: 24px;
        color: #fff;
        margin-bottom: 15px;
    }
    .footer-nav-link a {
        color: rgba($color: #fff, $alpha: 0.7);
        line-height: 46px;
        @include transition(0.2s);
        &:hover {
            color: #fff;
        }
    }
    .footer-newsletter {
        form {
            width: 410px;
            height: 54px;
            position: relative;
            input {
                width: 100%;
                height: 100%;
                font-size: 18px;
                color: rgba($color: #fff, $alpha: 0.7);
                padding: 0 80px 0 30px;
                border: none;
                border-radius: 35px;
                background: rgba($color: #fff, $alpha: 0.1);
                @include placeholder {
                    color: rgba($color: #fff, $alpha: 0.6);
                }
            }
            button {
                width: 50px;
                height: 50px;
                font-weight: 900;
                text-align: center;
                border-radius: 50%;
                background: $color-one;
                color: $color-two;
                position: absolute;
                right: 0;
                top: 2px;
                @include transition(0.2s);
                &:hover {
                    background: #fff;
                }
            }
        }
    }
    .copyright {
        font-size: 18px;
        color: rgba($color: #fff, $alpha: 0.7);
    }
    .bottom-nav {
        margin: 0 -12px;
        a {
            font-size: 18px;
            font-weight: 500;
            margin: 0 12px;
            color: rgba($color: #fff, $alpha: 0.7);
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}
